{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mt-5">Actual List <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"
        role="button" aria-expanded="false" aria-controls="collapseExample">
        +
    </a></h2>
<div class="collapse" id="collapseExample">
    <div class="d-flex justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Label</label>
                {{ form.label }}
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Due date</label><br>
                {{ form.due_date }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<hr>
{% for note in to_do_list %}
{% include 'partial/note_item.html' with note=note type="ADD" %}
{% endfor %}
<h2 class="text-center mt-5">Finished List</h2>
<hr>
{% for note in finished_list%}
{% include 'partial/note_item.html' with note=note type="DELETE" %}
{% endfor %}
{% endblock content %}